img {
  display: row;
  width: 49%;
  height: auto;
}
h1 {
    color: #133236;
    margin:auto;
    text-align: center;
    font-size: 5vh;
    margin: auto;
     width: 50%;
    padding: 10px;
}

p {
    color: rgb(79, 77, 47);
    font-size: 2.5vh;    
    margin-left: 20%;
    margin-right: 20%;
    text-align: center
   
}
body {background-color:#bbcac2;}

#tribute-info { 
    font-size: 3.3vh;
    color: darkslategrey;
    max-width: 70%;
    margin:auto;
    text-align: center;
}

a {
    font-size: 2vh;
   align-content: center;
   text-decoration: none;
   text-align:center;
   display:block; 
   color: rgb(88, 88, 88);
    text-align: right;
    margin-right: 15%;
}

